################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApplication1/v15/Browse.VC.opendb
/.vs/ChordPractice/v15/Browse.VC.opendb
